{% extends 'base.html.twig' %}

{% block title %}Factuur index{% endblock %}

{% block body %}
    <h1>Facturen overzicht</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Referentie</th>
                <th>Datum</th>
                <th>Verval_datum</th>
                <th>Bedrag</th>
                <th>Is_betaald</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factuur in factuurs %}
            <tr>
                <td>{{ factuur.id }}</td>
                <td>{{ factuur.referentie }}</td>
                <td>{{ factuur.datum ? factuur.datum|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factuur.vervalDatum ? factuur.vervalDatum|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factuur.bedrag }}</td>
                <td>{{ factuur.isBetaald ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_factuur_show', {'id': factuur.id}) }}">show</a>
                    <a href="{{ path('app_factuur_edit', {'id': factuur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_factuur_new') }}">Nieuw aanmaken</a>
{% endblock %}
