{% extends 'base.html.twig' %}

{% block title %}Creditnota{% endblock %}

{% block body %}
    <h1>Creditnota</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creditnotum.id }}</td>
            </tr>
            <tr>
                <th>Referentie</th>
                <td>{{ creditnotum.referentie }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ creditnotum.datum ? creditnotum.datum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Bedrag</th>
                <td>{{ creditnotum.bedrag }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_creditnota_index') }}">Terug naar overzicht</a>

    <a href="{{ path('app_creditnota_edit', {'id': creditnotum.id}) }}">edit</a>

    {{ include('creditnota/_delete_form.html.twig') }}
{% endblock %}
